.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.env.*
# Keep example files
!.env.example
!.env.test.example
!.env.*.example
.cache
server/dist
public/dist
pg-data

test_2_pg_data
